# Ignore certificate and key files
*.crt
*.key
*.pfx
*.pem
aks_baseline.env
/.vs/aks-baseline/FileContentIndex/13b1486e-30ea-4f29-822a-598327db286e.vsidx
/.vs/aks-baseline/FileContentIndex/669c8c33-ac49-45a2-a870-99edcec636f9.vsidx
/.vs/aks-baseline/FileContentIndex/e9c9eac0-08fe-47fa-a682-33110cc52f18.vsidx
/.vs/aks-baseline/v17/.wsuo
/.vs/aks-baseline/FileContentIndex/5b9436cd-3dfb-4a94-9b96-9d682f029c74.vsidx
/.vs/aks-baseline/FileContentIndex/c70bcf31-ef8f-44d9-a028-e6ee2b008b9d.vsidx
/.vs/aks-baseline/FileContentIndex/d31399c2-7706-457d-b8e4-c7fbfc9e99aa.vsidx
/.vs/aks-baseline/v17/DocumentLayout.json
