apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: aspnetapp-ingress
  namespace: a0008
spec:
  tls:
  - hosts:
      - bu0001a0008-00.aks-ingress.<domain-name>
  rules:
  - host: bu0001a0008-00.aks-ingress.<domain-name>
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: aspnetapp-service
            port:
              number: 80
